<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="Yireo_Webp2::addWebpToConfigurableJsonConfig" type="Yireo\Webp2\Plugin\AddWebpToConfigurableJsonConfig"/>
    </type>

    <type name="Magento\Catalog\Block\Product\View\Gallery">
        <plugin name="Yireo_Webp2::addWebpToGalleryImagesJson" type="Yireo\Webp2\Plugin\AddWebpToGalleryImagesJson"/>
    </type>

    <type name="Magento\Swatches\Helper\Data">
        <plugin name="Yireo_Webp2::addWebpToSwatchesAjaxData" type="Yireo\Webp2\Plugin\AddWebpToSwatchesAjaxData"/>
    </type>
</config>