<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="yireo" sortOrder="999" translate="label">
            <label>Yireo</label>
        </tab>
        <section id="yireo_webp2" translate="label" sortOrder="342" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Yireo WebP2</label>
            <tab>yireo</tab>
            <resource>Yireo_Webp2::config</resource>
            <group id="settings" translate="label" type="text" sortOrder="34" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Debug Log</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="gd" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>GD support</label>
                    <frontend_model>Yireo\Webp2\Block\Adminhtml\System\Config\Gd</frontend_model>
                </field>
                <field id="php_version" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>PHP version</label>
                    <frontend_model>Yireo\Webp2\Block\Adminhtml\System\Config\PhpVersion</frontend_model>
                </field>
                <field id="module_version" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Module version</label>
                    <frontend_model>Yireo\Webp2\Block\Adminhtml\System\Config\ModuleVersion</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>