name: Magento 2 DI compilation
on: ['push', 'pull_request']

jobs:
  compile:
    name: Magento 2 DI compilation
    #runs-on: self-hosted
    runs-on: ubuntu-latest
    strategy:
      matrix:
        magento_version: ['2.4.5-p14', '2.4.7-p4', '2.4.7-p7', '2.4.8', '2.4.8-p1', '2.4.8-p2', '2.4.8-p3']
    container:
      image: yireo/magento2installed:${{ matrix.magento_version }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Configure Yireo GitLab
        run: |
          test -n "${{ secrets.GITLAB_TOKEN }}" || exit 0
          cd /tmp/magento
          composer config gitlab-domains gitlab.yireo.com
          composer config --global --auth http-basic.gitlab.yireo.com yireo "${{ secrets.GITLAB_TOKEN }}"
          composer config repositories.loki-third-party composer https://gitlab.yireo.com/api/v4/group/loki-third-party/-/packages/composer/packages.json
          composer config repositories.loki-checkout composer https://gitlab.yireo.com/api/v4/group/loki-checkout/-/packages/composer/packages.json

      - name: Add module source
        run: |
          COMPOSER_NAME=$(grep '^COMPOSER_NAME=' .module.ini | cut -d= -f2- | tr -d '"')
          cp -R ${GITHUB_WORKSPACE} /tmp/magento/package-source
          cd /tmp/magento
          composer config repositories.local-source path package-source/
          composer require --prefer-source ${COMPOSER_NAME}:@dev

      - name: Run Magento 2 compilation
        run: |
          cd /tmp/magento
          bin/magento module:enable --all
          php -dmemory_limit=-1 bin/magento setup:di:compile

