name: ExtDN M2 PHPStan
on: [ push, pull_request ]

jobs:
  phpstan:
    name: M2 PHPStan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: "Determine composer cache directory"
        id: "determine-composer-cache-directory"
        run: "echo \"::set-output name=directory::$(composer config cache-dir)\""

      - name: Cache Composer dependencies
        uses: actions/cache@v2
        with:
          path: "${{ steps.determine-composer-cache-directory.outputs.directory }}"
          #path: /tmp/composer-cache
          key: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}

      - uses: extdn/github-actions-m2/magento-phpstan/8.3@master
        with:
          composer_name: yireo/magento2-webp2
          composer_version: 2
          phpstan_level: 2
          magento_pre_install_script: .github/workflows/extdn-phpstan-pre-install.sh
